*{
    background-color: beige;
}

.product-main-box{
    width: 90%;
    background-color: aquamarine;
    margin:0 auto;
}

.product-left-side{
    width: 30%;
    float: left;
    background-color: rgba(55, 55, 55, 0.2) ;
}

.product-right-side{
    width: 70%;
    float: right;
    background-color: brown;
}

.image-box {
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    background-image: url('../../img/img-placeholder.jpg');
}

.product-image{
    width: 100%;
    border: 1px solid rgb(173, 173, 173);
}

.img-zoom-inst{
    text-align: center;
}

.divider{
    border-bottom: 1px solid black;
    width: 90%;
    margin: 0 auto;
}

.title-text{
    font-weight: bold;
    font-size: 36px;
}

.light-title-text{
    font-weight: bold;
    color: lightgray;
    font-size: 36px;
}

.product-author{
    width: 100%;
    padding: 5% 0;
    background-color: chocolate;
}

.author-link{
    color: lightblue;
    text-decoration: none;
}

.author-link:active{
    color: lightblue;
    text-decoration: none;
}

.text-divider{
    margin: 2px 0;
    font-size: 13px;
}

.product-description{
    text-align: justify;
    width: 100%;
}

.product-description-text{
    font-size: medium;
    color: black;
}